* {
  margin: 0;
  padding: 0;
}

.scorecard {
  margin: 15px;
  padding-top: 15px;
  width: 100%;
  height: 55px;
  text-align: center;
  vertical-align: middle;
}

.scorecard h1 {
  font-family: sans-serif;
}

.color1 {
  background-color: #92a8d1;
}

.color2 {
  background-color: #f7786b;
}

.color3 {
  background-color: #034f84;
}

.color4 {
  background-color: #f7cac9;
}

.colorEmpty {
  background-color: lightgrey;
}
